

body {
    background-color: yellow;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    color: rgb(108, 108, 245);
    font-family: monospace;
    font-size: 3em;
}

.container{
    
        background-color:#109171; 
        height:350px;  
        width:232px;  
        border-radius:10px;  
        position:relative;  
        top:80px;  
        left:40%;  
    
}

.display {
    width: 16em;
    height: 3em;
    margin-left: 5px;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
}

#buttonC { 
    position: absolute;
    top: 0;
    border-radius: 3px;
    right: 8px;
    width: 3em;
    z-index: 2;
    top: 12px;
    height: 33px;
    cursor: pointer;
    color: rgb(199, 25, 25);
    background-color: #1e90ff;
    outline: black;
}
 

.numbers , .calculate, .decimal-point{
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-right: 5px;
    margin-left: 9px;
    border-radius: 8px;
    
}
.operator,.memory{
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-right: 5px;
    margin-left: 9px;
    background-color: chartreuse;
    border-radius: 4px;
    
}

.unu{
    display: flex;
    justify-content: center;
}

